/**
 * 该文件只维护项目整体布局样式，不能随便修改本文件内容，以免页面布局错乱
 * App整体结构：
 * app (container)
 *   |-header
 *   |   |--header-head (logo)
 *   |   |--header-body (menu)
 *   |   |--header-foot (action list)
 *   |-main (container)
 *   |   |--aside
 *   |   |    |---aside-head (aside menu title)
 *   |   |    |---aside-body (aside menu)
 *   |   |    |---aside-foot (aside toggle)
 *   |   |--content
 *   |   |    |---content-head (breadcrumb)
 *   |   |    |---content-body (route [section])
 *   |   |    |---content-foot (copyright)
 *   |-footer
 *   |   |--copyright
 *
 */

/** 边框 */
.is-border {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--divider-color);
  }

  &-top {
    &::after {
      top: 0;
      bottom: auto;
      border-width: 0;
      border-top-width: 1px;
    }
  }

  &-bottom {
    &::after {
      bottom: 0;
      top: auto;
      border-width: 0;
      border-bottom-width: 1px;
    }
  }

  &-left {
    &::after {
      top: 0;
      bottom: 0;
      right: auto;
      border-width: 0;
      border-left-width: 1px;
    }
  }

  &-right {
    &::after {
      top: 0;
      bottom: 0;
      left: auto;
      border-width: 0;
      border-right-width: 1px;
    }
  }
}

.is-overflow {
  margin-top: -0.1px;
  margin-bottom: -0.1px;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  overflow-y: auto;
  overflow-x: hidden;
}

/** 通用布局 */
.layout {
  &,
  &-header,
  &-footer,
  &-sider,
  &-content,
  &-content-head,
  &-content-body,
  &-content-foot {
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  min-width: 0;
  min-height: 0;

  &.is-horizontal {
    flex-direction: row;
  }

  &.is-abs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /** 头部、尾部 */
  &-header,
  &-footer {
    flex-direction: row;
    flex: 0 0 auto;
    padding: 0 20px;
  }

  &-header {
    > *:not(:first-child) {
      margin-left: 15px;
    }
  }

  /** 侧边栏 */
  &-sider {
    .is-overflow;
    flex: 0 0 auto;
    min-width: 0;
    transition: all 0.2s ease-in-out;

    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }

  /** 内容区 */
  &-content {
    height: 100%;
    .is-overflow;

    &.is-horizontal {
      flex-direction: row;
    }

    &-head,
    &-foot {
      flex: 0 0 auto;
      flex-direction: row;
    }

    &-body {
      .is-overflow;
    }
  }

  /** 操作条 */
  &-operate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 12px 20px;

    &.is-left {
      justify-content: flex-start;
    }

    &.is-right {
      justify-content: flex-end;
    }
  }
}

/**
 * app-layout: 项目整体布局-上中（左右）下
 */
@layoutModulePrefix: ~'app-layout';

.@{layoutModulePrefix} {
  .layout;
}
